version: "3.8"

services:
  backend:
    image: vansh23100/dollar-backend:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    restart: always

  frontend:
    image: vansh23100/dollar-frontend:latest
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: