name: Build Push Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Build frontend
        working-directory: frontend
        run: |
          npm ci
          npm run build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push frontend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dollar-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/dollar-frontend:latest

      - name: Build & push backend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dollar-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/dollar-backend:latest

      - name: Deploy on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/ubuntu/dollar_assignment
            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d